@{
    ViewData["Title"] = "Home Page";
}

 <main class="hero-container">
            <div class="hero-img">
                <div class="hero-text">
                    <a href="/home/input"><h2>Input Recipe</h2></a>
                    <a href="/home/search"><h2>Search Recipes</h2></a>
                </div>
            </div>    
 </main>
