@{
    ViewData["Title"] = "Home Page";
}

 <main class="hero-container">
            <div class="hero-img">
                <div class="hero-text">
                    <h2>Welcome!</h2>
                    <p>Treat this site as a digital cookbook - store your favorite recipes using the "input" page and use the "search" page to, you guessed it, search through the recipes that have been stored!</p>
                </div>
            </div>    
 </main>
