@{
ViewData["Title"] = "Input Page";
}

<main>

  <form id="submit-recipe" method="post" action="/recipe/submit">
    @Html.AntiForgeryToken()

    <label for="recipename">
      <span>Recipe Name:</span>
      <input type="text" id="recipename" data-bind="value:recipe().name" placeholder="Enter recipe name...">
    </label>

    <label for="ingredients">
      <span>Ingredients:</span>

      <div id="ingredients" data-bind="foreach:recipe().ingredients">

        <div id="ingredients-container">
          <input type="text" id="ingredientname" data-bind="value:name" placeholder="Name">
          <input type="text" id="ingredientamount" data-bind="value:amount" placeholder="Amount">
          <input type="text" id="ingredientunits" data-bind="value:units" placeholder="Units">
          <input type="button" id="addingredientbutton" data-bind="click:$parent.addIngredient" value="+">
        </div>

      </div>
    </label>

    <label for="instructions">
      <span>Instructions:</span>
      <div id="instructions" data-bind="foreach:recipe().instructions">
        <span data-bind="text:stepnumber">1.</span>
        <input type="text" id="instructiontext" data-bind="value:text" placeholder="Type instructions here">
        <input type="button" id="addstepbutton" data-bind="click:$parent.addStep" value="+">
      </div>
    </label>

    <label for="authorsnotes"><span>Author's Notes:</span>

      <textarea type="text" id="authorstext" data-bind="value:recipe().authorsnotes"
        placeholder="Type a note about your recipe!"></textarea>

    </label>

    <label for="imgupload"><span>Photo:</span>
      <div id="photo">
        <input type="file" id="imgupload" name="imgupload" accept="image/*">
      </div>
    </label>
    <input type="button" data-bind="click:submit" value="Submit Recipe" id="submit-recipe-button">
    <div data-bind="text:status"></div>
  </form>

</main>

<script>ko.applyBindings(new inputviewmodel())</script>