@{
    ViewData["Title"] = "Search Page";
}

<main>
                <form id="recipe-search">
                    <label for="search">Search:</label><br>
                    <input type="text" id="search" name="search" value="Enter search criteria..." required><br>
                    <input type="submit" value="Search" id="search-button"><br>
                    <input type="button" id="view-all-button" name="view-all-button" value="View all recipes">
                </form>

                <div id="search-results">

                    <div class="recipe-card">
                        <p class="recipe-title">Pasta with Pesto</p>
                        <img src="/img/pestopasta.jpg" alt="pesto pasta">

                        <div class="Rtable Rtable--3cols">

                            <div style="order:1;" class="Rtable-cell"><p><strong>Ingredient</strong></p></div>
                            <div style="order:2;" class="Rtable-cell"><p>pasta</p></div>
                            <div style="order:3;" class="Rtable-cell"><p>olive oil</p></div>
                            <div style="order:4;" class="Rtable-cell"><p>pesto</p></div>

                            <div style="order:1;" class="Rtable-cell"><p><strong>Amount</strong></p></div>
                            <div style="order:2;" class="Rtable-cell"><p>2</p></div>
                            <div style="order:3;" class="Rtable-cell"><p>1</p></div>
                            <div style="order:4;" class="Rtable-cell"><p>2</p></div>

                            <div style="order:1;" class="Rtable-cell"><p><strong>Units</strong></p></div>
                            <div style="order:2;" class="Rtable-cell"><p>cups</p></div>
                            <div style="order:3;" class="Rtable-cell"><p>tbsp</p></div>
                            <div style="order:4;" class="Rtable-cell"><p>tbsp</p></div>

                        </div>
  
                        <div id="steps-container">

                            <div class="step">
                                <p>1</p>
                                <p>Bring a large pot of water to the boil.</p>
                            </div>

                            <div class="step">
                                <p>2</p>
                                <p>Add oil and salt.</p>
                            </div>

                            <div class="step">
                                <p>3</p>
                                <p>Add pasta and boil until al dente (10-12 mins).</p>
                            </div>

                            <div class="step">
                                <p>4</p>
                                <p>Drain pasta.</p>
                            </div>

                            <div class="step">
                                <p>5</p>
                                <p>Add pesto and stir.</p>
                            </div>

                        </div>

                        <div id=#authorsnotediv>
                            <p class="authorsnotetext">Try stirring in some wilted spinach and some halved cherry tomatoes to give the dish that extra something!</p>
                        </div>

                    </div>


                    <div class="recipe-card">
                        <p class="recipe-title">Pasta with Pesto</p>
                        <img src="/img/pestopasta.jpg" alt="pesto pasta">

                        <div class="Rtable Rtable--3cols">

                            <div style="order:1;" class="Rtable-cell"><p><strong>Ingredient</strong></p></div>
                            <div style="order:2;" class="Rtable-cell"><p>pasta</p></div>
                            <div style="order:3;" class="Rtable-cell"><p>olive oil</p></div>
                            <div style="order:4;" class="Rtable-cell"><p>pesto</p></div>

                            <div style="order:1;" class="Rtable-cell"><p><strong>Amount</strong></p></div>
                            <div style="order:2;" class="Rtable-cell"><p>2</p></div>
                            <div style="order:3;" class="Rtable-cell"><p>1</p></div>
                            <div style="order:4;" class="Rtable-cell"><p>2</p></div>

                            <div style="order:1;" class="Rtable-cell"><p><strong>Units</strong></p></div>
                            <div style="order:2;" class="Rtable-cell"><p>cups</p></div>
                            <div style="order:3;" class="Rtable-cell"><p>tbsp</p></div>
                            <div style="order:4;" class="Rtable-cell"><p>tbsp</p></div>

                        </div>
  
                        <div id="steps-container">

                            <div class="step">
                                <p>1</p>
                                <p>Bring a large pot of water to the boil.</p>
                            </div>

                            <div class="step">
                                <p>2</p>
                                <p>Add oil and salt.</p>
                            </div>

                            <div class="step">
                                <p>3</p>
                                <p>Add pasta and boil until al dente (10-12 mins).</p>
                            </div>

                            <div class="step">
                                <p>4</p>
                                <p>Drain pasta.</p>
                            </div>

                            <div class="step">
                                <p>5</p>
                                <p>Add pesto and stir.</p>
                            </div>

                        </div>

                        <div id=#authorsnotediv>
                            <p class="authorsnotetext">Try stirring in some wilted spinach and some halved cherry tomatoes to give the dish that extra something!</p>
                        </div>

                    </div>




                    

                </div>
            </main>