@{
    ViewData["Title"] = "Search Page";
}

<main>
                <form id="recipe-search">
                    <label for="search">Search:</label><br>
                    <input type="text" id="search" name="search" value="Enter search criteria..." required><br>
                    <input type="submit" value="Search" id="search-button"><br>
                    <input type="button" id="view-all-button" name="view-all-button" value="View all recipes">
                </form>

                <div id="search-results">
                    <div class="recipe-card">
                        <p class="recipe-title">Pasta with Pesto</p>
                        <p class="recipe-ingredients">Pasta (2 cups), Olive Oil (1 tbsp), Salt (1 tsp), Pesto (2 tbsp)</p>
                        <p class="recipe-method">Bring a large pot of water to the boil. Add oil and salt. Add pasta and boil until al dente (10-12 mins). Drain pasta. Add pesto and stir.</p>
                    </div>

                    <div class="recipe-card">
                            <p class="recipe-title">Pasta with Pesto</p>
                            <p class="recipe-ingredients">Pasta (2 cups), Olive Oil (1 tbsp), Salt (1 tsp), Pesto (2 tbsp)</p>
                            <p class="recipe-method">Bring a large pot of water to the boil. Add oil and salt. Add pasta and boil until al dente (10-12 mins). Drain pasta. Add pesto and stir.</p>
                    </div>

                    <div class="recipe-card">
                            <p class="recipe-title">Pasta with Pesto</p>
                            <p class="recipe-ingredients">Pasta (2 cups), Olive Oil (1 tbsp), Salt (1 tsp), Pesto (2 tbsp)</p>
                            <p class="recipe-method">Bring a large pot of water to the boil. Add oil and salt. Add pasta and boil until al dente (10-12 mins). Drain pasta. Add pesto and stir.</p>
                    </div>

                    <div class="recipe-card">
                            <p class="recipe-title">Pasta with Pesto</p>
                            <p class="recipe-ingredients">Pasta (2 cups), Olive Oil (1 tbsp), Salt (1 tsp), Pesto (2 tbsp)</p>
                            <p class="recipe-method">Bring a large pot of water to the boil. Add oil and salt. Add pasta and boil until al dente (10-12 mins). Drain pasta. Add pesto and stir.</p>
                    </div>

                </div>
            </main>