/*Global Styles*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}


header {
  font-family: 'Baloo 2', cursive;
  text-align: center;
  border-bottom: solid 1px #626e60;
  padding: 10px 0px;
  margin-bottom: 10px;
}

header h1 {
  margin: 0;
  color: #af473c;
  font-family: 'Gloria Hallelujah', cursive;
}

input {
  border: solid 1px grey;
  size: 50;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #626e60;
  flex-shrink: 0;
  margin-top: 10px;
}

footer p {
  font-family: 'Baloo 2', cursive;
  color: #3c3c3c;
}


/*Home Page Styles*/

.hero-container {
  height: 100vh;
}

.hero-img {
  background-image: url("../img/kitchen.jpg"); 
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  background-color: white;
  opacity: 0.9;
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text h2 {
  margin: 0;
  padding: 25px 25px;
  font-size: 1.5em;
}

.hero-text a {
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
  color: #3c3c3c;
  cursor: pointer;
}

.hero-text a:hover {
  color: #af473c;
}


@media only screen and (min-width: 768px) {
  .hero-text h2 {
      font-size: 3em;
  }
}

/* Input Page Styles*/

#submit-recipe {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  font-family: 'Baloo 2', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

#recipe-name {
  width: 100%;
}

#ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#ingredients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#addingredientbutton, #addstepbutton {
  background-color: #ffcc00;
  font-family: 'Ubuntu';
  cursor: pointer;
}

#ingredients input {
  margin: 5px;
}

#instructions {
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


#instructions input {
  margin: 5px;
}

#authorsnotes {
  display: flex;
  justify-content: center;
  align-items: center;
}

#authorstext {
  height: 50px;
  width: 100%;
  border: 1px solid grey;
}

#photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-recipe-button {
  font-family: 'Ubuntu';
  background-color: #ffcc00;
  cursor: pointer;
  padding: 10px 5px;
}

@media only screen and (min-width: 768px) {
  #submit-recipe {
      font-size: 2em;
  }

  #recipename {
      padding: 0px 50px;
  }

  #ingredients-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  #instructions span {
    font-size: 0.5em;
  }

  #instructiontext {
    padding: 0px 50px;
  }

  #authorsnotes {
    width: 500px;
  }

  #submit-recipe textarea {
      width: 50%;
  }

  #submit-recipe-button {
      font-size: 0.5em;
  }
}

/* SEARCH PAGE STYLES */

#recipe-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  width: 100%;
  font-family: 'Ubuntu';
}

#search {
  margin: 0 20px;
}

#search-button {
  margin-right: 25px;
  background-color: #ffcc00;
}

#view-all-button {
  margin-top: 25px;
  background-color: #ffcc00;
}

#search-results {
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.recipe-card {
  border: solid 1px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: 'Ubuntu';
}

.recipe-card img {
  height: 33%;
  width: 100%;
}

/*Tables*/

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  /* Default to full width*/
  padding: 0.8em 0.8em;
  overflow: hidden;
  list-style: none;
  background: fade(slategrey,20%);
  text-align: center;
}

.Rtable--3cols > .Rtable-cell  { width: 33.33%; }

/*End table styles*/


#steps-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
}



.recipe-card p {
  padding: 0 10px;
}

@media only screen and (min-width: 413px) {
  #view-all-button {
      margin-top: 0px;
  }
}

@media only screen and (min-width: 500px) {
  .recipe-card {
      width: 40%;
     margin: 10px 10px;
  }

}